:root{
    --blanco: #FFFFFF;
    --texto: #707070;
    --azul: #2490FF;
    --gris: #dedede;
    --background: #F7F9FC;
    --inputModerador : #7ebdff;
    --perfil : #f6f6f6;
    --reporte: #D89597;
    --sugerencia: #e18c29;
    --cintilloReporte: #cc7375;
    --fondo-ifilac: rgba(10,255,92,0.2);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body, html{
    width: 100%;
    height: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

a{
    
    color: var(--texto)
    
}

textarea{
    
    resize: none;
    padding: 5px;
    text-align: justify;
    
}

textarea:disabled{
    
    background-color: var(--blanco) !important;
    
}

/* Pseudoclases */
a:hover{
    
    text-decoration: none;
    
}

button:hover{
    
    color: var(--azul);
    
}

select:hover{
    
    background-color: var(--azul);
    color: var(--blanco);
    
}

input:disabled{

    background-color: var(--blanco) !important;

}

h5,h6{
    
    color: var(--texto);
    
}

/* Globales */
.floatLeft{
    
    float: left;
    
}


.bold{
    
    font-weight: bold;
    
}

.overflowTwoLines{
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
    
}

.overflowThreeLines{
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    
}

.sombreado{
    
    box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.75);
    
}

.borde{
    
    border: 1px solid var(--gris);
    
}

.justify-content-evenly{
    
    justify-content: space-evenly !important;
    
}

.w-65{
    
    width: 65%;
    
} 

.w-40{
    
    width: 40%;
    
}

.w-45{
    
    width: 45%;
    
}

.h-60{
    
    height: 60%;
    
}

.h-80{
    
    height: 80%;
    
}

/* Clases de elementos de la página */
.bandera{

    width: 25px;
    height: 17px;

}

.contenedorPrincipal{
    
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    overflow-x: hidden;
    
}

.contenedor{
    
    float: left;
    margin-top: 75px;
    height: calc(100% - 75px);
    color: var(--texto);
    
}

.contenido{
    
    max-height: 80vh;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    position: relative;
    background: var(--blanco);
    
}

.filtro{
    
    width: 200px;
    background-color: var(--blanco);
    color: var(--texto);
    border-radius: 7px;
    padding: 1px;
    height: 30px !important;
    
}

.resultado{
    
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gris);
    background-color: var(--blanco);
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    
}

.scroll{
    
    max-height: 450px;
    overflow: scroll;
    
}

.botonPequeño{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    height: 40px;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: var(--background);
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    
}

.palabraRelacionada{
    
    width: 210px;
    
}

.paisRelacionado{
    
    width: 50px;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 0px !important;
    
}

.modalIcon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: var(--blanco);
    
}

.inputModerador{

    border-color: var(--inputModerador);
    margin-bottom: .5rem;

}

.inputModerador:invalid{

    border-color: var(--reporte);

}

.botonModerador{

    border-color: var(--inputModerador);
    background-color: var(--inputModerador);
    text-align: center;
    color: var(--blanco);
    margin-bottom: .5rem;

}

.botonVerde{

    border-color: #98B151;
    background-color: #98B151;
    text-align: center;
    color: var(--blanco);
    margin-bottom: .5rem;

}

.inputModerador:hover{

    background-color: inherit;
    color: var(--texto);

}

.custom-file-label::after{

    content: "Subir" !important;
    color: var(--blanco);
    background-color: var(--inputModerador);

}

.sugerencia, .sugerencia:disabled{

    border-color: var(--sugerencia);
    border-radius: 7px;
    background-color: #fcf8e7 !important;

}

.sugerencia > div {

    font-size: 20px;

}

button.sugerencia{

    border-width: 2px;
    color: #EAD068;

}

.sugerencia > textarea{

    background-color: #fcf8e7 !important;
    border: none;

}

.sugerencia > h6{

    color: var(--sugerencia);

}

.reporte{

    border-color: var(--reporte);
    border-radius: 7px;
    background-color: #FBF2F2;
    font-size: 20px;

}

.reporte > textarea {

    background-color: #FBF2F2 !important;
    border: none;

}

.reporte > h6 {

    color: var(--reporte);

}

.resultadoModerador{

    background-color: var(--blanco);
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.resultadoModerador .reporte{

    width: 20px;
    background-color: var(--cintilloReporte);
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0px;
    margin-right: 20px;
    float: left;

}

.resultadoModerador .aprobar{

    width: 20px;
    background-color: var(--sugerencia);
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0px;
    margin-right: 20px;
    float: left;

}

.resultadoModerador .aprobada{

    width: 20px;
    background-color: var(--azul);
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0px;
    margin-right: 20px;
    float: left;

}

#resultados{

    max-height: 490px;
    overflow: scroll;

}

#fotoPalabra{
    height: 50px;
    width: 100px;

}

.moderador,.perfil{

    max-height: 560px;

}

#contenedorResultados{

    transition: all 0.5s ease-in-out;
    position: relative;

}

.panelLateral{

    margin-left: 200%;

}

.panelLateral.activo{

    margin-left: -200%;
    transition: all 1s ease-in-out;

}

.leyenda{

    height: 25px;
    width: 25px;

}

.leyenda.reporte{

    background-color: var(--cintilloReporte);
    border-radius: 7px;

}

.leyenda.aprobar{

    background-color: var(--sugerencia);
    border-radius: 7px;


}
.leyenda.aprobada{

    background-color: var(--azul);
    border-radius: 7px;

}

.contenedorLeyendas{

    /* bg-white py-2 pl-2 h-25 mt-2 d-flex sombreado flex-wrap align-content-between */
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    background-color: var(--blanco);
    padding-left: .5rem;
    padding-top: .5rem;
    padding-right: .5rem;
    height: 150px;
    margin-top: .5rem;
    border-radius: 7px;

}

.login{

    display: flex;
    flex-wrap: wrap;
    height: 90%;

}

.contenedorLogin{

    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blanco);
    justify-content: center;
    align-content: space-evenly;

}

.contenedorLogin>div>label{

    color: var(--texto);

}

.backgroundLogin{

    background-image: url(../img/fondo_gradient_full.png);
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    z-index: 0;

}  

.backgroundLogin>h1{
    
    text-align: center;
    font-size: 60px;
    color: var(--blanco);

}

.footer{

    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

}

.logos{

    height: 100%;

}

.imagenPerfil{

    border-radius: 50%;
    background-image: url(../img/profilepicture.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;

}

.numeroSugerencias{

    font-size: 30px;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--perfil);
    margin-bottom: 30px;

}

.datoPerfil:disabled{

    border-color: var(--perfil);
    margin-bottom: 1rem;
    background-color: var(--perfil) !important;

}

/* Estilos de las definiciones colapsables */
.card-header{
    
    background-color: var(--blanco);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
    
}

.btn-card{
    
    background-color: var(--blanco);
    color: var(--azul);
    width: 100%;
    text-align: left;
    
}

.card-body{
    
    text-align: justify;
    
}