<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFI-LAC</title>
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <script src="../Bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <!-- Fuente: Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/glosario.css">
    
</head>
<body class="d-flex flex-wrap bg-white">
    <div class="login col-12 p-0">
        <div class="contenedorLogin col-8 p-0">
            <div class="col-12 p-0" style="height: 10%;">
                <img src="../img/logounesco.png" height="55" width="114">
            </div>
            <div class="px-5 col-12" style="height: 85%;">
                <div class="col-12 backgroundLogin">
                    <h1 class="col-6" style="text-align: center;">Glosario Hidrológico</h1>
                </div>
            </div>
        </div>
        <div class="contenedorLogin col-4 py-0 px-5">
            <div class="col-12 mt-5 mb-4 d-flex justify-content-center">
                <img class="img-fluid" src="../img/logoifilac.png" height="50" width="111">
            </div>
            <h5>Iniciar Sesión</h5>
            <div class="col-12">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control inputModerador" autocomplete="username">
                <label for="usuario">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control inputModerador mb-3" autocomplete="current-password">
                <button class="btn botonModerador w-100">Ingresar</button>
                <hr>
                <p class="text-center">¡Forma parte de nuestra comunidad</p>
                <a href="" class="text-danger d-flex justify-content-center"><b>¡Registrate!</b></a>
                <hr>
                <a href="" class="text-primary d-flex justify-content-center"><b>Olvidé mi contraseña</b></a>
                <a href="" class="text-primary d-flex justify-content-center"><b>Iniciar sesión como invitado</b></a>
            </div>
        </div>
    </div>
    <div class="footer col-12 img-fluid">
        <img src="../img/logos.png" class="logos">
    </div>
</body>
</html>