<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFI-LAC</title>
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <script src="../Bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <!-- Fuente: Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/glosario.css">
    <!-- JS -->
    <script src="../js/sidebar.js"></script>
    
</head>
<body>
    <nav class="active" id="sidebar">
        <div class="pleft2rem w-100 h-100 mt-5 container d-flex flex-column justify-content-start">
            <h6 class="mb-3"><b>MENU</b></h6>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-home mr-2"></i><a href="glosario.html">Inicio</a></button>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-info-circle mr-2"></i>Información</button>
        </div>
    </nav>
    <nav class="navbar fixed-top">
        <div class="ml-3 navbar-brand">
            <button class="navbar-toggler invisible" id="dismiss" type="button"><i class="fas fa-times mr-3"></i></button>
            <button style="width: 35px;
            height: 35px;" class="navbar-toggler visible" id="sidebarCollapse" type="button"><i class="fas fa-bars mr-3"></i></button>
            <span><a href="glosario.html">IFI-LAC</a></span>
        </div>
        <div>
            <input type="text" id="search" class="form-control barraBusqueda" placeholder="Buscar">
        </div>
        <div class="mr-3" id="cerrarSesion">
            <span>Cerrar Sesión</span>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </nav>
    <div class="contenedorPrincipal container-fluid">
        <div class="contenedorSmall col-12 d-flex flex-wrap justify-content-between">
            <div class="w-100 pb-2 d-flex justify-content-between align-items-center">
                <div>
                    <h5><b>Palabra</b></h5>
                    <small id="paisOrigen">Pais de origen: 🦉</small>
                </div>
                <div>
                    <button class="btn btn-outline-secondary">Lenguas Maternas</button>
                    <button class="btn btn-outline-info mr-1"><i class="fas fa-exchange-alt mr-1"></i>Relacionar Palabra</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-exclamation-triangle mr-1"></i>Reportar Palabra</button>
                </div>
            </div>
            <div class="shadowlessContenido h-100 w-25 scroll">
                <h5>Definiciones</h5>
                <div id="accordion">
                    <div class="card mb-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Definición de UNESCO-OMM
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="unesco">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Definición regional IFI-LAC
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="ifilac">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Definición consensuada
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="consensuada">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="overlay"></div>
</body>
</html>