<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFI-LAC</title>
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <script src="../Bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <!-- Fuente: Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/glosario.css">
    <!-- JS -->
    <script src="../js/sidebar.js"></script>
    
</head>
<body>
    <nav class="active" id="sidebar">
        <div class="pleft2rem w-100 h-100 mt-5 container d-flex flex-column justify-content-start">
            <h6 class="mb-3"><b>MENU</b></h6>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-home mr-2"></i><a href="glosario.html">Inicio</a></button>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-info-circle mr-2"></i>Información</button>
        </div>
    </nav>
    <nav class="navbar fixed-top">
        <div class="ml-3 navbar-brand">
            <button class="navbar-toggler invisible" id="dismiss" type="button"><i class="fas fa-times mr-3"></i></button>
            <button style="width: 35px;
            height: 35px;" class="navbar-toggler visible" id="sidebarCollapse" type="button"><i class="fas fa-bars mr-3"></i></button>
            <span><a href="glosario.html">IFI-LAC</a></span>
        </div>
        <div>
            <input type="text" id="search" class="form-control barraBusqueda" placeholder="Buscar">
        </div>
        <div class="mr-3" id="cerrarSesion">
            <span>Cerrar Sesión</span>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </nav>
    <div class="contenedorPrincipal container-fluid">
        <div class="contenedor bg-white sombreado col-12 p-4 d-flex flex-wrap justify-content-between">
            <div class="col-12 pb-2 d-flex justify-content-between align-items-center">
                <div>
                    <h5><b>Palabra</b></h5>
                    <small id="paisOrigen">Pais de origen: 🦉</small>
                </div>
                <div>
                    <button class="btn btn-outline-secondary">Lenguas Maternas</button>
                    <button class="btn btn-outline-info mr-1"><i class="fas fa-exchange-alt mr-1"></i>Relacionar Palabra</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-exclamation-triangle mr-1"></i>Reportar Palabra</button>
                </div>
            </div>
            <div class="contenido borde col-4 h-100 scroll">
                <h5>Definiciones</h5>
                <div id="accordion">
                    <div class="card mb-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Definición de UNESCO-OMM
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="unesco">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Definición regional IFI-LAC
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="ifilac">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0 w-100">
                                <button class="btn btn-card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Definición consensuada
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" data-tipoDefincion="consensuada">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo dolorem ex distinctio. Minima veniam voluptatibus corrupti molestias consectetur culpa quae consequatur aliquam? Dolorum repudiandae exercitationem nemo suscipit, dolor ducimus fugit vel nobis, consectetur aperiam reiciendis ad, accusantium enim nihil.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row w-65 flex-wrap" style="align-content: baseline; height: 450px"> 
                <div class="col-12 pt-0 contenido border mb-2 d-flex justify-content-between" style="height: 60%;">
                    <div class="col-6 h-100 d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row align-items-center justify-content-between" style="height: 40px;">
                            <h5>Galería</h5>
                            <button class="btn btn-outline-danger"><i class="fas fa-flag"></i></button>
                        </div>
                        <div id="carouselGaleria" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" id="fotosCarousel">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="http://placekitten.com/200/110">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="http://placekitten.com/200/110">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="http://placekitten.com/200/110">
                                </div>
                                <div>
                                    
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselGaleria" role="button" data-slide="prev">
                                <span aria-hidden="true"><i class="fas fa-arrow-circle-left fa-2x"></i></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselGaleria" role="button" data-slide="next">
                                <span aria-hidden="true"><i class="fas fa-arrow-circle-right fa-2x"></i></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 h-100 d-flex flex-column justify-content-center">
                            <div class="d-flex flex-row align-items-center justify-content-between" style="height: 40px;">
                                <h5>Descripción</h5>
                            </div>
                            <textarea name="" id="" cols="30" rows="8" disabled>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias itaque mollitia vel delectus qui tempora quibusdam sapiente suscipit, fuga aperiam ipsa minus nemo ullam ab dicta et iste modi enim laudantium soluta sint impedit! Id alias vitae voluptates aperiam ipsam facilis quasi nesciunt dolore doloribus tenetur odio magni recusandae laudantium culpa aut temporibus, minus qui maxime numquam laboriosam, harum, nulla neque? Facilis necessitatibus quos expedita iure pariatur ipsam obcaecati quas, voluptates ea laboriosam autem quidem, veritatis corporis minus, incidunt unde molestiae cumque tempore iste sequi ex. Amet suscipit iusto, vel repellat vero expedita, harum quos temporibus eos est hic.</textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="contenido borde flex-wrap col-7 d-flex justify-content-between" style="height: 174px">
                        <h5>Palabras Relacionadas</h5>
                        <div class="h-75 w-100 d-flex flex-wrap justify-content-between" style="overflow: scroll; max-height: 115px;">
                            <div class="border palabraRelacionada botonPequeño"> 
                                🦉 Relacionada
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                            <div class="border palabraRelacionada botonPequeño">
                                    🦉 Agua Lodosa 
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                            <div class="border palabraRelacionada botonPequeño">
                                    🦉 Agua Lorem 
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                            <div class="border palabraRelacionada botonPequeño">
                                    🦉 Agua Lorem 
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                            <div class="border palabraRelacionada botonPequeño">
                                    🦉 Agua Lorem 
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                            <div class="border palabraRelacionada botonPequeño">
                                    🦉 Agua Lorem 
                                <i class="fas fa-audio-description ml-1 fa-lg"></i>
                            </div>
                        </div>
                    </div>
                    <div class="contenido w-40 borde flex-wrap d-flex justify-content-between" style="height: 174px;">
                        <h5>Países Relacionados</h5>
                        <div class="h-75 w-100 d-flex flex-wrap justify-content-between" style="overflow: scroll; max-height: 115px;">
                            <div class="border paisRelacionado botonPequeño"> 
                                🦉
                            </div>
                            <div class="border paisRelacionado botonPequeño"> 
                                🦉
                            </div>
                            <div class="border paisRelacionado botonPequeño"> 
                                🦉
                            </div>
                            <div class="border paisRelacionado botonPequeño"> 
                                🦉
                            </div>
                            <div class="border paisRelacionado botonPequeño"> 
                                🦉
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>
</body>
</html>