<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFI-LAC</title>
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <script src="../Bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <!-- Fuente: Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/glosario.css">
    <!-- JS -->
    <script src="../js/sidebar.js"></script>
    
</head>
<body>
    <nav class="active" id="sidebar">
        <div class="pleft2rem w-100 h-100 mt-5 container d-flex flex-column justify-content-start">
            <h6 class="mb-3"><b>MENU</b></h6>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-home mr-2"></i><a href="glosario.html">Inicio</a></button>
            <button class="btn navbarButton mb-2" type="button"><i class="fas fa-info-circle mr-2"></i>Información</button>
        </div>
    </nav>
    <nav class="navbar fixed-top">
        <div class="ml-3 navbar-brand">
            <button class="navbar-toggler invisible" id="dismiss" type="button"><i class="fas fa-times mr-3"></i></button>
            <button style="width: 35px;
            height: 35px;" class="navbar-toggler visible" id="sidebarCollapse" type="button"><i class="fas fa-bars mr-3"></i></button>
            <span><a href="glosario.html">IFI-LAC</a></span>
        </div>
        <div>
            <input type="text" id="search" class="form-control barraBusqueda" placeholder="Buscar">
        </div>
        <div class="mr-3" id="cerrarSesion">
            <span>Cerrar Sesión</span>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </nav>
    <div class="contenedorPrincipal container-fluid">
        <div class="contenedor col-12">
            <div class="w-100  d-flex justify-content-between align-items-center">
                <h5 class="mb15px" >Glosario</h5>
                <div class="mb15px w-25">
                    <button class="btn btn-outline-info mr-1">Relacionar Palabra</button>
                    <button class="btn btn-outline-danger ">Reportar Palabra</button>
                </div>
            </div>
            <div class="contenido w-33">
                <div class="spaceBetween">
                    <div class=" alignCenter">
                        <span class="mr-1 floatLeft bold">Filtro</span>
                        <select class="form-control filtroPaises" name="pais" id="pais">
                            <option value="mx">México</option>
                            <option value="nk">Corea del Norte</option>
                        </select>
                    </div>
                    <div class="floatLeft alignCenter">
                        <span class="mr-1 bold">Pais:</span>
                        <span class="mr-1"" id="paisSeleccionado">Todos</span>
                    </div>
                </div>
                <div id="resultadosBusqueda" class="mt-3">
                    <div class="resultado">
                        <div class="spaceBetween">
                            <h5 class="bold">Palabra</h5>
                            <span>🦉</span>
                        </div>
                        <p class="overflowTwoLines">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et rerum provident quasi repudiandae, itaque rem dolorem eaque incidunt, quidem laudantium error minima culpa. Culpa, fugiat laboriosam dolorum ad nobis recusandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam error id veniam consequuntur, incidunt vel, nulla dolor velit blanditiis sint quidem iure culpa deleniti ipsum aliquam, tempore quas vitae autem.</p>
                    </div>
                </div>    
            </div>
            <div class="contenido w-33">
                <div class="spaceBetween">
                    <div class=" alignCenter">
                        <span class="mr-1 floatLeft bold">Filtro</span>
                        <select class="form-control filtroPaises" name="pais" id="pais">
                            <option value="mx">México</option>
                            <option value="nk">Corea del Norte</option>
                        </select>
                    </div>
                    <div class="floatLeft alignCenter">
                        <span class="mr-1 bold">Pais:</span>
                        <span class="mr-1"" id="paisSeleccionado">Todos</span>
                    </div>
                </div>
                <div id="resultadosBusqueda" class="mt-3">
                    <div class="resultado">
                        <div class="spaceBetween">
                            <h5 class="bold">Palabra</h5>
                            <span>🦉</span>
                        </div>
                        <p class="overflowTwoLines">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et rerum provident quasi repudiandae, itaque rem dolorem eaque incidunt, quidem laudantium error minima culpa. Culpa, fugiat laboriosam dolorum ad nobis recusandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam error id veniam consequuntur, incidunt vel, nulla dolor velit blanditiis sint quidem iure culpa deleniti ipsum aliquam, tempore quas vitae autem.</p>
                    </div>
                </div>    
            </div>
            <div class="contenido w-33">
                <div class="spaceBetween">
                    <div class=" alignCenter">
                        <span class="mr-1 floatLeft bold">Filtro</span>
                        <select class="form-control filtroPaises" name="pais" id="pais">
                            <option value="mx">México</option>
                            <option value="nk">Corea del Norte</option>
                        </select>
                    </div>
                    <div class="floatLeft alignCenter">
                        <span class="mr-1 bold">Pais:</span>
                        <span class="mr-1"" id="paisSeleccionado">Todos</span>
                    </div>
                </div>
                <div id="resultadosBusqueda" class="mt-3">
                    <div class="resultado">
                        <div class="spaceBetween">
                            <h5 class="bold">Palabra</h5>
                            <span>🦉</span>
                        </div>
                        <p class="overflowTwoLines">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et rerum provident quasi repudiandae, itaque rem dolorem eaque incidunt, quidem laudantium error minima culpa. Culpa, fugiat laboriosam dolorum ad nobis recusandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam error id veniam consequuntur, incidunt vel, nulla dolor velit blanditiis sint quidem iure culpa deleniti ipsum aliquam, tempore quas vitae autem.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</body>
</html>